<!-- popup-share -->
<div class="popup popup-share">
  <div class="dim"></div>
  <div class="inner-share">
    <div class="item-head">
      <strong class="tit-share">공유하기</strong>
      <button class="btn-close">닫기</button>
    </div>
    <ul class="list-share">
      <li>
        <button onclick="sendKakao()">
          <span class="ico-share ico-kakao"></span>
          <span class="txt-share">카카오톡</span>                  
        </button>
      </li>
      <li>
        <button onclick="copyCurrentUrl()">
          <span class="ico-share ico-copy"></span>
          <span class="txt-share">공유하기</span>
        </button>
      </li>
    </ul>
  </div>
</div>
<!--// popup-share -->